.card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  box-sizing: border-box;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  text-align: left;
  background-color: var(--white);

  &::before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow:
      0px 4px 4px -4px rgba(30, 33, 44, 0.05),
      0px 12px 10px -6px rgba(154, 156, 165, 0.08),
      0px 30px 24px -10px rgba(154, 156, 165, 0.1),
      0px 80px 80px -20px rgba(154, 156, 165, 0.16);
  }

  img {
    max-width: 100%;
    height: auto;
    max-height: 240px;
  }

  &-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
  }

  &-tag {
    width: min-content;
    white-space: nowrap;
  }

  &-price {
    display: flex-inline;
    font-size: 18px;
    line-height: 1.5;
    color: var(--danger);
    padding-right: 8px;
  }

  &-author {
    display: inline-flex;
    padding-left: 8px;
    color: var(--gray-700);
    font-size: 18px;
    line-height: 1rem;
    font-weight: 400;
    border-left: 1px solid var(--gray-700);
    align-self: center;
  }
}
