.card-grid {
  display: grid;
  max-width: var(--max-content-width);
  justify-self: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 30px;

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
