:root {
  --primary-color: #4caf50;
  --text-color: #333;
  --secondary: #ffcf2d;
  --red: #ff3f3a;
  --danger: #ff4242;
  --white: white;
  --gray-900: #1e212c;
  --gray-800: #424551;
  --gray-700: #787a80;
  --gray-600: #9a9ca5;
  --gray-400: #d7dadd;
  --gray-300: #e5e8ed;
  --badge-blue: #5a87fc;
  --badge-green: #03cea4;
  --badge-orange: #f89828;
  --badge-red: #f52f6e;
  --badge-violet: #7772f1;
  --max-content-width: 1230px;
}
